/Ex_561_Em_1/
/Ex_642_Em_2/
/Ex_488_Em_0/
/Ex_488_Em_0_flat.tif
/Ex_561_Em_1_flat.tif
/Ex_642_Em_2_flat.tif
/log.txt
/tsv/
/Ex_488_Em_525_flat.tif
/Ex_561_Em_600_flat.tif
/Ex_642_Em_680_flat.tif
/test.py
